@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 345 100% 95%;
    --foreground: 345 5% 0%;
    --card: 345 50% 90%;
    --card-foreground: 345 5% 10%;
    --popover: 345 100% 95%;
    --popover-foreground: 345 100% 0%;
    --primary: 345 100% 25.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 345 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 307 30% 85%;
    --muted-foreground: 345 5% 35%;
    --accent: 350 30% 80%;
    --accent-foreground: 345 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 345 5% 90%;
    --border: 345 30% 50%;
    --input: 345 30% 18%;
    --ring: 345 100% 25.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 345 50% 5%;
    --foreground: 345 5% 90%;
    --card: 345 50% 0%;
    --card-foreground: 345 5% 90%;
    --popover: 345 50% 5%;
    --popover-foreground: 345 5% 90%;
    --primary: 345 100% 25.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 345 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 307 30% 15%;
    --muted-foreground: 345 5% 60%;
    --accent: 350 30% 15%;
    --accent-foreground: 345 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 345 5% 90%;
    --border: 345 30% 18%;
    --input: 345 30% 18%;
    --ring: 345 100% 25.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.example-container .drag-area {
  opacity: 0.2;
  background: white;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
}
.example-container div {
  border-radius: 30px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50% - 150px / 2);
  left: calc(50% - 150px / 2);
}

.example-container-motion-path {
  width: 10vw;
  height: 10vh;
}
